@font-face {
    font-family: "Fredoka";
    src: url("../public/fonts/FredokaOne-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Baloo2";
    src: url("../public/fonts/Baloo2-VariableFont_wght.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("../public/fonts/Poppins-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

#root {
    height: 100%;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Baloo2", sans-serif;
}

/* Scrollbar width */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
    background: none; /* pastel peach */
    border-radius: 8px;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: #ff7a00; /* strong orange */
    border-radius: 8px;
    border: 2px solid #ffe3c1; /* creates padding effect */
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
    background-color: #e06600;
}

h1,
h2,
h3,
h4,
hr,
p {
    -webkit-user-select: none;
    user-select: none;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

button {
    transition: filter 0.1s ease-in-out, transform 0.1s ease-in-out;
}

button:hover {
    filter: brightness(140%);
    cursor: pointer;
}

button:active {
    transform: scale(95%);
}

.App-link {
    color: #61dafb;
}

.hover-link {
    text-decoration: none;
    color: blue;
    cursor: pointer;
    transition: background-color 0.2s;
    padding: 2px 4px;
    border-radius: 4px;
}

.hover-link:hover {
    text-decoration: underline;
}

.icon-button {
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    border-style: solid;
    box-shadow: #282c34;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.ingredient-icon {
    width: 1.25rem;
    height: 1.25rem;
    object-fit: contain;
}

.custom-toast {
    background-color: #2b9348;
    color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.custom-toast-body {
    font-size: 1rem;
    font-family: "Inter", sans-serif;
}
