.dashboard__container {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.top-bar__container {
    height: auto;
    width: 100%;
    background-color: #ff7746;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
    box-sizing: border-box;
}

.dashboard__main-content {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #ffa67c;
}

.dashboard__dish-cards-panel {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
    gap: 3rem;
    flex: 3;
    max-height: 90vh;
    overflow-y: auto;
    padding-right: 0.5rem;
    margin-top: 1rem;
}

.dashboard__summary-panel {
    flex: 1;
    height: auto;
}
