.top-bar__container {
    height: auto;
    width: 100%;
    background-color: #ff8836;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
    box-sizing: border-box;
}

.top-bar__logo-container {
    display: flex;
    align-items: center;
    gap: 1vw;
    height: clamp(56px, 10vh, 80px);
}

.top-bar__logo-image {
    max-height: 70%;
    object-fit: contain;
}

.top-bar__title {
    font-family: Fredoka;
    color: white;
    -webkit-user-select: none;
    user-select: none;
}

.top-bar__buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
}

.top-bar__buttons-container .logout-btn {
    background-color: #ff392e;
}
