.top-bar__container {
    height: auto;
    width: 100%;
    background-color: #ff8836;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
    margin: 0 auto;
    box-sizing: border-box;
}

.top-bar-btn {
    background-color: #fd5e19;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 0.75rem;
    border: none;
    padding: 0.5rem 1.25rem;
    cursor: pointer;
    height: 3rem;
    width: auto;

    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;

    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s ease, transform 0.1s ease;
}

.top-bar-btn:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.top-bar-btn:active {
    transform: scale(0.98);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.menu-item {
    display: flex;
    gap: 1rem;
}

.add-dish-menu-item,
.add-ingredient-menu-item,
.edit-ingredient-menu-item {
    color: #2b9341;
}

.clear-selection-menu-item {
    color: #fd5e19;
}

.log-out-menu-item {
    color: #ff392e;
}

.top-bar__logo-and-left-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.top-bar__float-menu {
    display: none;
}

.top-bar__logo-container {
    display: flex;
    align-items: center;
    gap: 1vw;
    height: clamp(56px, 10vh, 80px);
}

.top-bar__logo-image {
    max-height: 70%;
    object-fit: contain;
}

.top-bar__title {
    font-family: Fredoka;
    color: white;
    -webkit-user-select: none;
    user-select: none;
}

.top-bar__left-buttons-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}

.add-dish-btn,
.add-ingredient-btn,
.edit-ingredient-btn {
    background-color: #2b9341;
}

.log-out-btn {
    background-color: #ff392e;
}

.top-bar__right-container {
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
    flex-wrap: wrap;
}

.top-bar__username {
    color: white;
}

@media (max-width: 1304px) {
    .top-bar__left-buttons-container.is-admin .top-bar-btn {
        font-size: 0.8rem;
        padding: 0.1rem 0.5rem;
    }
}

@media (max-width: 1000px) {
    .top-bar__left-buttons-container.is-admin {
        display: none;
    }

    .top-bar__float-menu.is-admin {
        display: flex;
    }
}

@media (max-width: 878px) {
    .top-bar__left-buttons-container.not-admin .top-bar-btn {
        font-size: 0.8rem;
        padding: 0.1rem 0.5rem;
    }
}

@media (max-width: 738px) {
    .top-bar__left-buttons-container.not-admin {
        display: none;
    }

    .top-bar__float-menu.not-admin {
        display: flex;
    }
}
