MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/mydb?retryWrites=true&w=majority
JWT_SECRET=<insert-key-here>
REFRESH_SECRET=<insert-key-here>
PORT=<insert-port-number-here>
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=<insert-email-here>
SMTP_PASS=<insert-app-password>