.dish-card__container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 200px;
    width: 200px;
    border-radius: 10%;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    color: #a32e03;
}

.dish-card__container:hover {
    transform: scale(1.1);
}

.dish-card__container::before {
    content: "✔";
    position: absolute;
    top: 8px;
    left: 8px;
    font-size: 20px;
    color: white;
    background-color: #28a745;
    border-radius: 50%;
    padding: 4px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);

    opacity: 0;
    transform: scale(0.5);
    transition: opacity 0.2s ease, transform 0.2s ease;
    pointer-events: none;
}

.dish-card__container.selected::before {
    opacity: 1;
    transform: scale(1);
}

@keyframes checkmark-pop {
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.dish-card__container h3,
li {
    -webkit-user-select: none;
    user-select: none;
}

.dish-card__container.color-yellow {
    background-color: #ffd465;
}

.dish-card__container.color-baige {
    background-color: #ffc5a4;
}

.dish-card__container.color-orange {
    background-color: #fe9738;
}

.dish-card__container.color-light-green {
    background-color: #e7e596;
}

.dish-card__dish-name {
    overflow-x: hidden;
}

.dish-card__ingredient-list {
    overflow-y: auto;
    transform: translate(0, -20px);
}
